soap/soapWarDynamicProject/TestMartCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.testmart.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestMartCatalogService" targetNamespace="http://www.testmart.com">
<types>
<xsd:schema>
<xsd:import namespace="http://www.testmart.com" schemaLocation="http://192.168.56.1:7001/soapWarDynamicProject/TestMartCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProductCategories2">
<part element="tns:getProductCategories2" name="parameters"/>
</message>
<message name="getProductCategories2Response">
<part element="tns:getProductCategories2Response" name="parameters"/>
</message>
<message name="getProducts">
<part element="tns:getProducts" name="parameters"/>
</message>
<message name="getProductsResponse">
<part element="tns:getProductsResponse" name="parameters"/>
</message>
<message name="addProduct">
<part element="tns:addProduct" name="parameters"/>
</message>
<message name="addProductResponse">
<part element="tns:addProductResponse" name="parameters"/>
</message>
<message name="getProductsV2">
<part element="tns:getProductsV2" name="parameters"/>
</message>
<message name="getProductsV2Response">
<part element="tns:getProductsV2Response" name="parameters"/>
</message>
<portType name="TestMartCatalog">
<operation name="getProductCategories2">
<input message="tns:getProductCategories2" wsam:Action="http://www.testmart.com/TestMartCatalog/getProductCategories2Request"/>
<output message="tns:getProductCategories2Response" wsam:Action="http://www.testmart.com/TestMartCatalog/getProductCategories2Response"/>
</operation>
<operation name="getProducts">
<input message="tns:getProducts" wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsRequest"/>
<output message="tns:getProductsResponse" wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsResponse"/>
</operation>
<operation name="addProduct">
<input message="tns:addProduct" wsam:Action="http://www.testmart.com/TestMartCatalog/addProductRequest"/>
<output message="tns:addProductResponse" wsam:Action="http://www.testmart.com/TestMartCatalog/addProductResponse"/>
</operation>
<operation name="getProductsV2">
<input message="tns:getProductsV2" wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsV2Request"/>
<output message="tns:getProductsV2Response" wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsV2Response"/>
</operation>
</portType>
<binding name="TestMartCatalogPortBinding" type="tns:TestMartCatalog">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getProductCategories2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestMartCatalogService">
<port binding="tns:TestMartCatalogPortBinding" name="TestMartCatalogPort">
<soap:address location="http://192.168.56.1:7001/soapWarDynamicProject/TestMartCatalogService"/>
</port>
</service>
</definitions>
